/*@import url('http://fonts.cdnfonts.com/css/ink-free');*/
                
html, body 
{   
    height: 100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body
{
    background-image: linear-gradient(#ebe8e8,white); 
    margin: auto;
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Segoe UI';
}

#dp
{
    width: 480px;
    height: 480px;
    object-fit: cover;
}
#my_name
{
    /*height: 300px;*/
    font-family: 'Ink Free','Segoe Print','Segoe Script Bold','Trebuchet MS','Segoe UI','Segoe Script','Lucida Sans Unicode',sans-serif,'Times New Roman';
    font-size: 50px;
    font-weight: 1000;
}
#orange-dot
{
    background-color: rgb(255, 165, 0);
    height: 30px;
    width: 30px;
    /*padding-right: 60px;
    padding-top: 60px;*/
}
#job-title
{
    font-family: monospace,'Trebuchet MS','Lucida Sans Unicode','Segoe UI';
}
p
{
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Segoe UI';
    text-align: justify;
}
.ball
{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-width: 1px;
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Segoe UI';
}
#resume-ball
{
    background-color: rgb(255, 165, 0);
}
#projects-ball
{
    background-color: rgb(255, 55, 29);
}
#contact-ball
{
    background-color: cyan;
}
a
{
    text-decoration: none;
    color: inherit;
    /*text-decoration-color: black;*/
}
#footer-margin
{
    width: 100%;
    height:10px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color:rgb(179, 178, 178);
    
}
footer
{
    padding-top: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    position: relative;
   
   /* margin-bottom: 0;
    position: fixed;*/
}
.bottom-margin
{
    
}
.footer-heading
{
    font-size: large;
}
.icon-size
{
    height: 20px;
    width:20px;
}

